# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vs code files
*.vscode
__pycache__

#environment variables
.env

#database folder
database

#virtual environment
venv



#media files root
/media
/YOLO
/pics
#ssl certificates
privkey.pem
cert.pem

#docker-compose file
docker-compose.yml

#error logs
logs
YOLO
pics
yolov3.cfg
yolov3.weights
coco.names