<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-flex">
        <div class="left">
            <img src="../images.jpg">
        </div>
        <div class="right">
            <center>
            <h1>Forgot Password</h1>
            </center>
            <center>
            <h4>Generate new Password</h4>
            </center>
            <hr>
        <div class="myform">
            <form >
                <label for="email">Please enter Email</label>
                <br>
                <input type="email" id="email" name="email" placeholder="email">
                <center>
                <input type="submit" value="Send">
                </center>
              </form>
            </div>
        </div>
    </div>
</body>
</html>