{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{%static 'images/logo.png' %} ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\login.css' %}">
    <title>Reset Password</title>
    <style>
        h3{
            color:red;
        }
        h1{
            font-family: 'Kanit', sans-serif ;;
        }
        .txt{
            font-family: 'Kanit', sans-serif;
        }
    </style>
</head>
<body>
    <div class="login-flex">
        <div class="left">
            <img src="{%static 'images\ti2.jpg' %}">
        </div>
        <div class="right">
            <center>
            <h1>Reset Password</h1>
            </center>
            <center>
            <h4>Set new Password</h4>
            </center>
            <hr>
        <div class="myform">
            <form action={% url 'reset_password' %} method="POST">
                {% csrf_token %}
                <label for="lname">Please enter otp</label>
                <br>
                <input type="text" id="otp" name="otp" placeholder="otp">
                <br>
                <label for="lname">Enter Password</label>
                <br>
                <input type="password" id="password" name="password" placeholder="password">
                <label for="lname">Re-Enter Password</label>
                <br>
                <input type="password" id="password1" name="password1" placeholder="password1">
                <center>
                <input type="submit" value="Reset Password">
            </center>
              </form>
            </div>
        </div>
    </div>
</body>
</html>